@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #404040; /* Changed to a darker gray */
  --foreground: #f0f0f0; /* Adjusted for better contrast */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2b2b; /* Even darker gray for dark mode */
    --foreground: #ffffff; /* Brighter text for dark mode */
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, #232029, #231e2d);
}